/*** GENERALI ***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    /* background-color: red; */
    width: 80%;
    height: 100%;
    position: relative;
}

button{
    background-color: #ff7a59;
    border: none;
    color: white;
    padding: 15px 25px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: rgba(255,122,89,0.7);
}

span{
    color: #425b76;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: lighter;
}

.stiletesto{
    color: #425b76;
    /* font-family: Arial;
    font-style:Sans-serif; */
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 150%;
}

/*** HEADER INIZIO***/

header{
    height: 85px;
    background-color:#f5f8fa;
    border-bottom:solid 1px #425b76;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-left{
    float: left;
    padding-top: 30px;
    display: inline-block;
}

.lingua{
    border-right:solid 2px #425b76;
    display: inline-block;
    padding-right: 5px;
}

.header-right{
    /* background-color: blue; */
    float: right;
    padding-top: 15px;
    display: inline-block;
}

.white-button{
    background-color: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
}

/***HEADER FINE***/

/***NAV INIZIO***/

nav{
    height: 170px;
    border-bottom:solid 1px #425b76;
    padding-top: 85px;
}

.menu{
    width: 50%;
    float: right;
    padding-top: 2em; /*due volte le dimensioni del font*/
}

#logo{
    height: 80%;
    float: left;
    display: inline-block;
    padding-top: 1em;
    margin-left: -1em; /*anche se illegale è l'unica soluzione che conosco l'immagine stessa ha il bordo:) */
}

ul{
    list-style-type: none;
}

.menu li{
    display: inline-block;
}

li > a{
    text-decoration: none;
    color: #425b76;
    font-family: 'Kumbh Sans', sans-serif;
    padding-left: 25px;
    padding-top: 100%;
    padding-bottom: 100%;

}

/***NAV FINE***/

/***DIVISORE HEADER-MAIN INIZIO***/

.divisore-header{
    background-color: #425b76;
    display: inline-block;
    width: 100%;
}

#divisore{
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    line-height: 150%;
}

#divisore > a{
    color: white;
}

/*** DIVISORE HEADER-MAIN FINE ***/

/***MAIN PRIMA SEZIONE INIZIO***/  /*There's-a-better*/

.prima-sezione{
    height: 800px;
    background-color: #fff2ee;
    background-image: url("https://www.hubspot.com/hubfs/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom: solid 3px #33475b;
}

.testo-a-sinistra{
    width: 35%;
    padding-top: 12%;
}

h1{
    font-size: 50px;
    display: inline;
}

.testo-a-sinistra>p{
    padding-top: 5%;
    font-size: 20px;
    word-spacing: 3px;
}

#button1{
    margin: 0;
    margin-top: 25px;
    padding: 27px 35px;
    font-size: 15px;
}

.pulsante{
    /* background-color: red; */
    width: 53%;
}
p:nth-child(2){
    padding-top: 5%;
    font-size: 15px;
    word-spacing: 3px;
}

/***MAIN PRIMA SEZIONE FINE***/  /*There's-a-better*/

/***MAIN SECONDA SEZIONE INIZIO***/  /*Powerful alone.Better together.*/

.seconda-sezione{
    width: 100%;
    height: 800px;
    background-color: #f5f8fa;
    border-bottom: solid 3px gray;
    content: "";
    display: table;
    clear: both;
    padding-top: 100px;
    padding-bottom: 100px;
}

#intro{
    box-shadow: none;
    background-color: #f5f8fa;
    transform: none; /*non esegue l'animazione in hover*/
    padding-left: 0;
}

.riquadro{
    width: calc(33% - 24px);
    height: 500px;
    background-color: #ffffff;
    display: inline-block;
    float: left;
    margin: 12px;
    box-shadow: 0px 0px 9px 1px rgba(105,98,105,0.1);
    border-radius: 5px;
    padding:2em;
    padding-top: 3em;
    padding-bottom: 3em;
}

h2{
    font-size: 35px;
    display: inline;
}

#stileparagrafo{
    font-size: 17px;
}

.riquadro:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.02);
 }

h4{
    display: inline-block;
    font-size: 25px;
    padding-bottom: 1.2em;
}

.sezione-superiore{
    padding-bottom: 1.2em;
    border-bottom: solid 2px rgba(100,100,100,.5);
    margin-bottom: 1em;
}

.sezione-inferiore li{
    padding-top: .7em;
}

.sezione-inferiore li::before{
    content: url("img/check.png");
}

.button-list{
    width: 100%;
    padding: .7em;
    font-size: 15px;
    margin-top: 2em;
}

/***MAIN SECONDA SEZIONE FINE***/  /*Powerful alone.Better together.*/

/***MAIN TERZA SEZIONE INIZIO***/  /*Learn and grow with...*/

.terza-sezione{
    background-color: #01afb4;
    width: 100%;
    /* height: 1000px; */
    content: "";
    display: table;
    clear: both;
}

.sopra{
    width: 70%;
    margin: auto;
    padding-top: 7em;
}
.sopra>h3{
    color: white;
    font-size: 30px;
    font-family: arial;
    text-align: center;
}

.sopra>p{
    color: white;
    text-align: center;
    font-size: 17px;
    padding-bottom: 5em;
}

.sotto{
    margin-bottom: 100px;
    content: "";
    display: table;
    clear: both;
}
.quadrato{
    /* width: calc(25% - 24px); */
    height: 200px;
    width: 25%;
    background-color: #01afb4;
    display: inline-block;
    float: left;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    padding: 15px;
    text-align: center;
}

.quadrato:nth-child(4n+4) {
  border-right: none;
}

.quadrato:nth-child(1n+5) {
  border-bottom: none;
}
.quadrato>p:first-of-type{
    font-size:50px;
    font-family: arial black;
}
.quadrato p{
    color: white;
}

/***MAIN TERZA SEZIONE FINE***/  /*Learn and grow with...*/

/***MAIN QUARTA SEZIONE INIZIO***/  /*86,000*/

.quarta-sezione{
    background-color: #fff;
    width: 100%;
    height: 1000px;
    /* content: "";
    display: table;
    clear: both; */
}

.sopra4{
    padding-top: 100px;
    /* background-color: yellow; */
    content: "";
    display: table;
    clear: both;
}

.sinistra4-up{
    float: left;
    width: 50%;
    display: inline-block;
    /* background-color: blue; */
}

.sinistra4-up>p{
    font-size: 20px;
}

.destra4-up{
    float: left;
    width: 50%;
    display: inline-block;
    /* background-color: blue; */
}

.customers{
    /* background-color: red; */
    display: inline-block;
    float: left;
    width: 25%;
    padding: 10px;
}

.sotto4{
    padding-top: 200px;
    /* background-color: yellow; */
    content: "";
    display: table;
    clear: both;
}

.sinistra4-down{
    float: left;
    width: 50%;
    display: inline-block;
    /* background-color: blue; */
}

.sinistra4-down>p{
    font-size: 20px;
}

.sinistra4-down>p:last-child{
    padding-top: 5%;
    font-size: 13px;
    word-spacing: 3px;
}

.destra4-down{
    float: left;
    width: 50%;
    display: inline-block;
    /* background-color: blue; */
}

#ragazza{
    display: block;
    position: relative;
    left: 150%;
}
